.premiere {
    font-style: oblique;
    color: #CB4335;
    background-color: black;
}

.card-img {
    width: 100%;
    height: 250px;
}

.card-img img {
    width: 100%;
    height: 100%;
}

.card-block-premiere {
    width: 100%;
    height: 200px;
    text-align: center;
    background-color: black;
    color: #CB4335;
    border-color: #CB4335;
}

.card-title {
    height: 40px;
}

.card-text {
    height: 60px;
}